:root{
  --off-white: #ededed
}

body{
  background-color: black;
  font-family:Arial, Helvetica, sans-serif;
}

.patientScreen {
  display: flex;
}

h1{
  
  color: white;
  font-size: 30px;
  margin-left: 5vw;
  margin-top: 5vw;
}

h2{
  color: black;
  font-size: 12px;
}

.patients{
  background-color: var(--off-white);
  border-radius: 10px;
  padding: 2vw;
  margin: 2vh;
  margin-left: 5vw;
  width: 40vw;
}

.patientsDisplay{
  display: block;
}

.addPatientForm{
  background: var(--off-white);
  border-radius: 10px;
  display: block;
  width: 30vw;
  margin-left: 60vw;
  margin-top: 2vh;
  position: fixed;
}

input{
  margin: 10px;
  width: 20vw;
  font-family:Arial, Helvetica, sans-serif;
}

textarea{
  margin: 10px;
  width: 20vw;
  font-family:Arial, Helvetica, sans-serif;
}

button{
  margin: 10px;
  width: 20vw;
  background-color: transparent;
  font-family:Arial, Helvetica, sans-serif;
  border-color: white;
  border-radius: 10px;
}